.project__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.project__card {
    border-radius: 20px;
    background-color: #363636;
    box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.30);
}

.project__img-card {
    width: 100%;
    height: 100%;
    aspect-ratio: 375/260;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.title--mb {
    margin-bottom: 50px;
}

.card-content {
    padding: 27px 31px;
    font-size: 18px;
    color: rgba(204, 204, 204, 1);
}

.card-content h3 {
    text-align: center;
}
.card-content__title {
    font-size: var(--text-size-xxl);
    font-weight: 700;
    margin-bottom: 20px;
}


.card-content__info > *:not(:last-child) {
    margin-bottom: 10px;
}

.card-content__info {
    line-height: 1.4;
    margin-bottom: 15px;
}
.card-content__tech {
    margin-bottom: 20px;
}
.card-content__tech span {
    color: var(--color-secondary);
}

.card-content__code {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-content__code {
    text-decoration-line: underline;
    transition: color 0.3s ease-in-out;
}

@media (any-hover: hover) {
    .project__card:hover .card-content__code {
        color: var(--color-secondary);
    }
}

