.project {
    margin-bottom: 100px;
}

.project__body {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.project__card {
    position: relative;
    border-radius: 20px;
    background-color: var(--bg-card);
    box-shadow: 2px 2px 100px 0 rgba(0, 0, 0, 0.30);
    transition: all 0.3s ease-in-out;
}


.project__img-card {
    width: 100%;
    height: 100%;
    aspect-ratio: 375/260;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.title--mb {
    margin-bottom: 50px;
}

.card-content {
    padding: 27px 31px;
    font-size: var(--text-size-m);
    color: var(--color-card);
}

.card-content h3 {
    text-align: center;
}

.card-content__title {
    font-size: var(--text-size-xxl);
    font-weight: 700;
    margin-bottom: 20px;
}


.card-content__info > *:not(:last-child) {
    margin-bottom: 10px;
}

.card-content__info {
    line-height: 1.4;
    margin-bottom: 15px;
}

.card-content__tech {
    line-height: 1.8;
    margin-bottom: 20px;
}

.card-content__tech span {
    color: var(--color-secondary);
}

.card-content__code {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-content__code {
    text-decoration-line: underline;
    transition: color 0.3s ease-in-out;
}


@media (any-hover: hover) {
    .project__card:hover .card-content__code {
        color: var(--color-secondary);
    }
}

@media (any-hover: hover) {
    .project__card:hover {
        transform: translateY(-10px);
        box-shadow: 2px 2px 100px 0 var(--box-sfadow-green);
    }
}

@media (max-width: 1200px) {
    .card-content {
        padding: 20px;
    }
}

@media (max-width: 991px) {
    .project__body {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 991px) {
    .project__body {
        grid-template-columns: 1fr;
    }
}



